<header class="h-100">
  <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark indigo scrolling-navbar intro-fixed-nav" [containerInside]="false">
    <mdb-navbar-brand>
      <a class="logo navbar-brand"><strong>PwMag</strong></a>
    </mdb-navbar-brand>
    <links>
      <ul class="navbar-nav mr-auto">
        <li *ngIf="isLoggedInAsUser()" class="nav-item waves-light" mdbWavesEffect>
          <p class="nav-link">Welcome {{usernameToDisplay}}</p>
        </li>
        <li *ngIf="!isLoggedInAsAdmin() && !isLoggedInAsUser()" class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" (click)="loginAsUserModal.show()">Login</a>
        </li>
        <li *ngIf="!isLoggedInAsUser() && !isLoggedInAsAdmin()" class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" (click)="loginAsAdminModal.show()">Login As Admin</a>
        </li>
        <li *ngIf="!isLoggedInAsUser() && !isLoggedInAsAdmin()" class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" (click)="registerModal.show()">Register</a>
        </li>
        <li *ngIf="isLoggedInAsUser() || isLoggedInAsAdmin()" class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" (click)="logout()" >Log out</a>
        </li>
      </ul>
    </links>
  </mdb-navbar>
  <!-- Main -->

  <!-- /.Main -->
</header>
<!--Main Layout-->
<main class="text-center py-5">

  <app-item-feed *ngIf="!isLoggedInAsAdmin()"></app-item-feed>
  <app-admin-dashboard *ngIf="isLoggedInAsAdmin()"></app-admin-dashboard>
</main>
<!--Main Layout-->

<!--LOGIN AS USER MODAL-->
<div mdbModal #loginAsUserModal="mdbModal" class="modal fade" id="loginAsUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-notify modal-info" role="document">
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <h4 class="modal-title">Login as user</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeUserModal()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body">
        <form class="text-center border border-light p-5">

          <p class="h4 mb-4">Sign in for users</p>

          <!-- Email -->
          <input type="email" id="userLoginFormEmail" class="form-control mb-4" placeholder="E-mail" #usernameUser>

          <!-- Password -->
          <input type="password" id="userLoginFormPassword" class="form-control mb-4" placeholder="Password" #passwordUser>
          <h5 *ngIf="failedLogin"><mdb-badge color="red">Email sau parola gresite</mdb-badge></h5>
          <!-- Sign in button -->
          <button mdbBtn color="info" block="true" class="my-4 waves-light" (click)="logInUser(usernameUser,passwordUser)" type="submit">Sign in</button>

          <p>Not a member?
            <a (click)="loginAsUserModal.hide(); registeModal.show()" class="text-default"> Register</a>
          </p>
        </form>
        <!-- Default form login -->
      </div>
    </div>
  </div>
</div>

<!--LOGIN AS ADMIN MODAL-->
<div mdbModal #loginAsAdminModal="mdbModal" class="modal fade" id="loginAsAdminModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-notify modal-info" role="document">
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <h4 class="modal-title">Login as admin</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeAdminModal()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body">

        <div class="modal-body">
          <form class="text-center border border-light p-5">

            <p class="h4 mb-4">Sign in for admins</p>
            <!-- Email -->
            <input type="email" id="adminLoginFormEmail" class="form-control mb-4" placeholder="E-mail" #username>
            <!-- Password -->
            <input type="password" id="adminLoginFormPassword" class="form-control mb-4" placeholder="Password" #password>
            <!-- Sign in button -->
            <h5 *ngIf="failedLogin"><mdb-badge color="red">Email sau parola gresite</mdb-badge></h5>
            <button mdbBtn color="info" block="true" class="my-4 waves-light" (click)="logInAdmin(username, password)" type="submit">Sign in</button>
          </form>
          <!-- Default form login -->
        </div>
      </div>
    </div>
  </div>
</div>

<!--REGISTER MODAL-->
<div mdbModal #registerModal="mdbModal" class="modal fade" id="registeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-notify modal-info" role="document">
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <h4 class="modal-title">Register</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeRegisterModal()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="text-center border border-light p-5">

          <p class="h4 mb-4">Sign up</p>

          <div class="form-row mb-4">
            <div class="col">
              <input type="text" id="userRegisterFormFirstName" class="form-control" placeholder="First name">
            </div>
            <div class="col">
              <input type="text" id="userRegisterFormLastName" class="form-control" placeholder="Last name">
            </div>
          </div>

          <input type="email" id="userRegisterFormEmail" class="form-control mb-4" placeholder="E-mail" #registerUsername>

          <input type="password" id="userRegisterFormPassword" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock" #registerPassword>
          <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
            At least 8 characters and 1 digit
          </small>
          <h5 *ngIf="failedLogin"><mdb-badge color="red">Eroare la crearea contului</mdb-badge></h5>

          <button mdbBtn color="info" block="true" class="my-4 waves-light" (click)="registerUser(registerUsername,registerPassword)" type="submit">Sign up</button>

          <hr>

          <!-- Terms of service -->
          <p>By clicking
            <em>Sign up</em> you agree to our
            <a href="" target="_blank">terms of service</a> and
            <a href="" target="_blank">terms of service</a>. </p>

        </form>
        <!-- Default form register -->
      </div>
    </div>
  </div>
</div>
