<div class="container admin-dashboard-container" style="background: lightgray">
  <div class="text-center">
    <div class="text-left">
      <h3>Upload an item into the store</h3>
    </div>
    <div class="container">
      <p class="row">First, let's add what item you want to upload</p>
      <div class="row">
        <input
          style="display: none"
          type="file" (change)="onFileChanged($event)"
          #fileInput>
        <button type="button" class="mediaInput-file col" (click)="fileInput.click()" mdbBtn color="info" mdbWavesEffect>Select the file</button>
        <div style="display: inline-block;" *ngIf="fileLoaded" class="col">
          <img id="previewImage" class="preview-image" [src]="imageSrc || 'https://www.instantoptions.com/images/nophotoyet.gif'">
        </div>
      </div>
      <hr class="my-4">
      <br>
      <div class="row">
        <label for="nameInput" class="col">Product name:</label>
        <input type="text" class="col" id="nameInput" [(ngModel)]="uploadedItem.name">
      </div>
      <br>
      <div class="row">
        <label for="priceInput" style="margin-top: 5px; margin-bottom: 5px" class="col">Price:</label>
        <input type="number" id="priceInput" class="col" [(ngModel)]="uploadedItem.value">
      </div>
      <div class="row mt-1">
        <p class="col">Please provide a description of this item: </p>
        <div class="col">
          <textarea id="formDescription" [ngModel]="uploadedItem.description"></textarea>
        </div>
      </div>
      <hr class="my-4">
      <div class="row">
        <button type="button" class="mediaInput-file col" (click)="clearUploadItem()" mdbBtn color="danger" mdbWavesEffect>Clear</button>
        <button type="button" class="mediaInput-file col" mdbBtn color="info" mdbWavesEffect>Submit</button>
      </div>

    </div>
  </div>

</div>
