.item-feed-navigation {
  margin-top: 10px;
}

.feed-style {
  padding-top: 100px;
  padding-left: 20%;
  padding-right: 20%;
}
.feed-style-mobile {
  padding-top: 100px;
  padding-left: 2%;
  padding-right: 2%;
}
.m-0 {
  margin: 0;
}
.cartItem-preview-image {
  max-height: 50px;
  max-width: 50px;
}
