<div class="container item-feed-navigation">
  <!--Navbar-->
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">

    <!-- Navbar brand -->
    <mdb-navbar-brand><h2 class="navbar-brand mt-1 pt-1">Admin's dashboard</h2></mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [ngClass]="{'active': getLocationPath().indexOf('admin-upload') > -1}">
          <a routerLink="/admin-upload" class="nav-link waves-light" mdbWavesEffect>
            Upload item
          </a>
        </li>
        <li class="nav-item" [ngClass]="{'active': getLocationPath().indexOf('admin-heatmap') > -1}">
          <a routerLink="/admin-heatmap" class="nav-link waves-light" mdbWavesEffect>
            Heatmap
          </a>
        </li>
        <li class="nav-item" [ngClass]="{'active': getLocationPath().indexOf('admin-probability') > -1}">
          <a routerLink="/admin-probability" class="nav-link waves-light" mdbWavesEffect>
            Probability
          </a>
        </li>
        <li class="nav-item" [ngClass]="{'active': getLocationPath().indexOf('admin-probability') > -1}">
          <a class="navbar-brand" (click)="chatModal.show()">Chat with us</a>
        </li>
      </ul>
      <!-- Links -->
    </links>
    <!-- Collapsible content -->

  </mdb-navbar>
  <!--/.Navbar-->
</div>
<router-outlet></router-outlet>

<div mdbModal #chatModal="mdbModal" class="modal fade right" id="frameModalTop" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">

  <div class="modal-dialog modal-side modal-bottom-right modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading">
          <strong>Chat with us</strong>
        </p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="chatModal.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>
      <app-chat [role]="role"></app-chat>
    </div>
    <!--/.Content-->
  </div>

</div>
