<div class="container item-feed-navigation">
  <!--Navbar-->
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">

    <!-- Navbar brand -->
    <mdb-navbar-brand><h2 class="navbar-brand mt-1 pt-1">Admin's dashboard</h2></mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [ngClass]="{'active': getLocationPath().indexOf('admin-upload') > -1}">
          <a routerLink="/admin-upload" class="nav-link waves-light" mdbWavesEffect>
            Upload item
          </a>
        </li>
        <li class="nav-item" [ngClass]="{'active': getLocationPath().indexOf('admin-heatmap') > -1}">
          <a routerLink="/admin-heatmap" class="nav-link waves-light" mdbWavesEffect>
            Heatmap
          </a>
        </li>
        <li class="nav-item" [ngClass]="{'active': getLocationPath().indexOf('admin-probability') > -1}">
          <a routerLink="/admin-probability" class="nav-link waves-light" mdbWavesEffect>
            Probability
          </a>
        </li>
      </ul>
      <!-- Links -->
    </links>
    <!-- Collapsible content -->

  </mdb-navbar>
  <!--/.Navbar-->
</div>
<router-outlet></router-outlet>
