.admin-dashboard-container {
  margin-top: 10px;
}

.preview-image {
  max-width: 150px;
  max-height: 150px;
}

.item-feed-navigation {
  margin-top: 10px;
}

.feed-style {
  padding-top: 100px;
  padding-left: 20%;
  padding-right: 20%;
}

.feed-style-mobile {
  padding-top: 100px;
  padding-left: 2%;
  padding-right: 2%;
}
